/* Body ----------------------------------------------------------------------------------------------------------*/
body{
    background-image: url(../img/books2.jpeg);
    display: flex;
    flex-direction: column
}



/* Color Palette -------------------------------------------------------------------------------------------------*/

.color-1 {
    background: rgba(106,130,107,1);
}

.color-2{
    background: rgba(116,20,65,1);
}

.color-3{
    background: rgba(82,116,162,1);
}

.color-4{
    background: rgba(73,54,40,1);
}

.color-5{
    background: rgba(167,119,57,1);
}


/* Textures or Patterns ------------------------------------------------------------------------------------------*/

.pattern-1{
    background: url("../img/text1.jpeg");
}

.pattern-2{
    background: url("../img/text2.jpeg");
}

.pattern-3{
    background: url("../img/text3.jpeg");
}

/* Banner Styling ------------------------------------------------------------------------------------------------*/
.banner {
    background:
    linear-gradient( rgba(167,119,57,.50), rgba(167,119,57,.50) ),
    
    url(../img/text3.jpeg);
    
    border: 10px solid black;
    display: flex;
    flex-wrap: wrap;
}

.title{
    padding-left: 2em;
    flex-grow: 1;
}

.logo{
    width: 20%;
    height: 20%;
    border: 7px solid black;
    position: relative;
}

/*Navigation -----------------------------------------------------------------------------------------------------*/


.navlinks {
    background: rgba(116,20,65,.5); 
    border: rgba(116,20,65,1) solid 2.5px;
    border-radius: .7em;
    font-size: 1.3em;
    margin: .2em 1em .3em 1em;
}

.navlinks a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.navlinks a:hover {
    background: rgba(82,116,162,.5);
}

/* Typography ----------------------------------------------------------------------------------------------------*/
/* Quotation & Navigation = font-family: 'Simonetta', cursive; */

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    text-transform: uppercase;
    color: rgba(116,20,65,1);
    text-shadow: 5px 5px 5px #000;
}

h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: none;
    font-size: 3em;
    color: black;
}

h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: none;
    font-size: 2em;
    color: black;
    text-align: center;
    background: rgb(106,130,107);
}

h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: none;
    font-size: 1.5em;
    color: black;
    text-align: center;
    background: rgb(106,130,107);
}

p {
    font-family: 'Simonetta', cursive;
    text-transform: none;
    font-size: 1em;
    color: black;
}

.pr {
    font-size: 1.2em;
}

button {
    background: blue;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    padding: 8px;
}

button:hover {
    background: gray;
   color: white;
}

.copyright {
    color: white;
    text-align: center;
    font-size: .75em;
}

/* Post --------------------------------------------------------------*/

.post {
    background: ;
    background-image: linear-gradient( to right, rgba(255,255,255,1), rgba(255,255,255,.25) );
    padding: .2em 1em .5em 1em;
    border-radius: 2em;
    border: rgba(106,130,107,1) solid 2px;
    max-width: 80%;
    min-width: 50%;
    margin: 2em auto 4em auto;
    box-shadow: 0.3125em 0.3125em 0.625em black;
    position: relative;
}

.post img {
    float: left;
    margin: 1em;
    
}

section {
    position: 10em;
}



*/
/* Footer --------------------------------------------------------------------------------------------------------*/

    
    
/* Media Queries -------------------------------------------------------------------------------------------------*/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
  

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
 

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
  
    
