// Grand Central Station
/* Body --------------------------------------------------------------*/
Body{
    background: url(../img/bookbanner.jpg);
    background-repeat:repeat;
}


/* Color Palette -----------------------------------------------------*/

.color-1 {
    background: rgba(106,130,107,1);
}

.color-2{
    background: rgba(116,20,65,1);
}

.color-3{
    background: rgba(82,116,162,1);
}

.color-4{
    background: rgba(73,54,40,1);
}

.color-5{
    background: rgba(167,119,57,1);
}


/* Textures or Patterns ----------------------------------------------*/

.pattern-1{
    background: url("../img/text1.jpeg");
}

.pattern-2{
    background: url("../img/text2.jpeg");
}

.pattern-3{
    background: url("../img/text3.jpeg");
}