/***************/
/* YOUR STYLES */
/***************/

/* Logo */
.logo-1 {
    background: gray;
    
}

/* Color Palette */

.color-1 {
    background: rgb(106,130,107);
}

.color-2{
    background: rgb(116,20,65);
}

.color-3{
    background: rgb(82,116,162);
}

.color-4{
    background: rgb(73,54,40);
}

.color-5{
    background: rgb(167,119,57);
}


/* Textures or Patterns*/

.pattern-1{
    background: url("../img/grass.jpeg");
/*    background: url("../img/texture1.png");*/
}

.pattern-2{
    background: url("../img/booktexture2.jpeg");
}

.pattern-3{
    background: url("../img/woodtexture.jpeg");
}


/* Imagery */
.image-1{
    
}

.image-2{
    
}

.image-3{
    
}

.image-4{
    
}

.image-5{
    
}

/* Icons */
/* When downloading an icon from iconmonstr use PNG: 240px 32px 416B7A B2C5D3 circle */


/* Navigation */

a:link,
a:visited{
    color: rgb(167,119,57);
    text-decoration: none;
}

a:focus {
    background: rgb(116,20,65);
}

a:hover {
    background: rgb(116,20,65);
}

a:active {
    background: rgb(116,20,65);
}

/* Typography */
/* Quotation & Navigation = font-family: 'Simonetta', cursive; */

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    text-transform: uppercase;
    color: black;
}

h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: none;
    font-size: 3em;
    color: black;
}

h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: none;
    font-size: 2em;
    color: black;
}

p1 {
    font-family: sans-serif;
    font-style: italic;
    color: lightgray;
}

p {
    font-family: 'Simonetta', cursive;
    text-transform: none;
    font-size: 1em;
    color: black;
}

button {
    background: blue;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    padding: 8px;
}

button:hover {
    background: gray;
   color: white;
}
